@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
background-image            : url(wallpaper.png);
background-repeat           : no-repeat ;
background-position-x       : center;
background-size             : cover;
}
.btn1, .btn2, .btn3, .btn4  {
    width                   : 30px;
    height                  : 30px;
    border                  : 0;
    border-radius           : 0.6em;
    background-color        : #fff;
}
.btn1, .btn2, .btn3, .btn4:hover{
	background-color        : #b1b0b0;
}
.btn2{
    background-image        : url(file.png);
    background-repeat       : no-repeat ;
    background-position-x   : center;
    background-size         : cover;
}
.btn1{
    background-image        : url(prix.png);
    background-repeat       : no-repeat ;
    background-position-x   : center;
    background-size         : cover;
}
.btn3{
    background-image        : url(citoyen.png);
    background-repeat       : no-repeat ;
    background-position-x   : center;
    background-size         : cover;
}
.bout:hover .btn1{
    filter                  : brightness(50%);
}
.bout:hover .btn2{
    filter                  : brightness(50%);
}
.bout:hover .btn3{
    filter                  : brightness(50%);
}
label{
	font-family             : 'Roboto', sans-serif;
	width                   : 100%;
	height                  : 100%;
	font-size               : 7px;
	margin-left             : 2px;
}
.label1{
	font-size               : 7px;
	margin-left             : 0px;
}
.page{
	margin-left             : 50px;
}
.label{
	margin-top              : -9px;
}
.bout{
	margin-left             : 10px;
	width                   : 70px;
	height                  : 55px;
	display                 : inline-block;
	color                   : #d6d6d6;
}
.header{
	color                   : #c6c6c6;
	font-family             : 'Rubik', sans-serif;
	width                   : 100%;
	top                     : 0;
	height                  : 25px;
	font-size               : 6px;
}
.left p {
	display                 : inline-block;
	left                    : 0;
	position                : relative;
	left                    : 2px;
    top                     : -2000px;
}
svg{
	color                   : #fff;
	margin-left             : 0.5em;
}
.center{
	display                 : inline-block;
	left                    : 0;
	position                : relative;
    left                    : 230px;
	top                     : -18px;
}
.right{
	display                 : inline-block;
	left                    : 0;
	position                : relative;
	left                    : 510px;
    top                     : -40px;
}
.right a{
	margin-left             : 0.5em;
}
.footer{
	height                  : 40px;
	width                   : 130px;
	background-color        : #ffffff8c;
    position                : absolute;
    bottom                  : 5px;
	left                    : 230px;
	border-radius          : 0.5em;
}
.widget{
	height                  : 150px;
    width                   : 150px;
	background-image        : url(ems.png);
	background-repeat       : no-repeat ;
	background-position-x   : center;
	background-size         : cover;
	left                    : 400px;
    position                : absolute;
    border-radius           : 0.5em;
}
.btnfooter1{
    background-image        : url(prix.png);
    background-repeat       : no-repeat ;
    background-position-x   : center;
    background-size         : cover;
}
.btnfooter2{
	background-image        : url(note.png);
	background-repeat       : no-repeat ;
	background-position-x   : center;
	background-size         : cover;
}
.btnfooter3{
	background-image        : url(file.png);
	background-repeat       : no-repeat ;
	background-position-x   : center;
	background-size         : cover;
}
.btnfooter1 , .btnfooter2 , .btnfooter3, .btnfooter1  {
    width                   : 30px;
    height                  : 30px;
    border                  : 0;
	margin                  : 5px;
    border-radius           : 0.6em;
    background-color        : #fff;
}
.label2 {
    /*margin-left             : -5px;*/
	margin-top              : -8px;
}
.footer{
    transition              : transform .3s;
}
.footer:hover{
	bottom                  : 10px;
	-webkit-transform       : scale(1.25); 
    -moz-transform          : scale(1.25);
    -ms-transform           : scale(1.25);
    -o-transform            : scale(1.25);
    transform               : scale(1.25);
    -webkit-transition      : all 1s ease;
    -moz-transition         : all 1s ease;
    -ms-transition          : all 1s ease;
    -o-transition           : all 1s ease;
    transition              : all 1s ease;
}
.footer:hover .btnfooter1{
	-webkit-transform       : scale(0.9);
    -moz-transform          : scale(0.9);
    -ms-transform           : scale(0.9);
    -o-transform            : scale(0.9);
    transform               : scale(0.9);
    -webkit-transition      : all 1s ease;
    -moz-transition         : all 1s ease;
    -ms-transition          : all 1s ease; 
    -o-transition           : all 1s ease;
    transition              : all 1s ease;
}
.footer:hover .btnfooter2{
	-webkit-transform       : scale(0.9);
    -moz-transform          : scale(0.9);
    -ms-transform           : scale(0.9);
    -o-transform            : scale(0.9);
    transform               : scale(0.9);
    -webkit-transition      : all 1s ease;
    -moz-transition         : all 1s ease;
    -ms-transition          : all 1s ease; 
    -o-transition           : all 1s ease;
    transition              : all 1s ease;
}
.footer:hover .btnfooter3{
	-webkit-transform       : scale(0.9);
    -moz-transform          : scale(0.9);
    -ms-transform           : scale(0.9);
    -o-transform            : scale(0.9);
    transform               : scale(0.9);
    -webkit-transition      : all 1s ease;
    -moz-transition         : all 1s ease;
    -ms-transition          : all 1s ease; 
    -o-transition           : all 1s ease;
    transition              : all 1s ease;
}
.footer:hover .btnfooter1:hover{
	-webkit-transform       : scale(1.2); 
    -moz-transform          : scale(1.2);
    -ms-transform           : scale(1.2); 
    -o-transform            : scale(1.2);
    transform               : scale(1.2);
	-webkit-transition      : all 1s ease; 
    -moz-transition         : all 1s ease;
    -ms-transition          : all 1s ease; 
    -o-transition           : all 1s ease; 
    transition              : all 1s ease;
}
.footer:hover .btnfooter2:hover{
	-webkit-transform       : scale(1.2); 
    -moz-transform          : scale(1.2);
    -ms-transform           : scale(1.2); 
    -o-transform            : scale(1.2);
    transform               : scale(1.2);
	-webkit-transition      : all 1s ease; 
    -moz-transition         : all 1s ease;
    -ms-transition          : all 1s ease; 
    -o-transition           : all 1s ease; 
    transition              : all 1s ease;
}
.footer:hover .btnfooter3:hover{
	-webkit-transform       : scale(1.2); 
    -moz-transform          : scale(1.2);
    -ms-transform           : scale(1.2); 
    -o-transform            : scale(1.2);
    transform               : scale(1.2);
	-webkit-transition      : all 1s ease; 
    -moz-transition         : all 1s ease;
    -ms-transition          : all 1s ease; 
    -o-transition           : all 1s ease; 
    transition              : all 1s ease;
}
